body {
background: #f8f8f8;
}
.contain-to-grid {
background: #0c96d4;
}

#interior-side-nav {
list-style: none;	
z-index: 11;
}
#interior-side-nav  .current a {
color: #777;
}
#aboutServices {
border-top: 8px solid #0c96d4;
margin-top: -40px;
padding: 40px 0 0;
}
.initial-content {
padding-top: 40px !important;
}
.success-header {
background:#090909 url(../images/life-banner.jpg) center top no-repeat;
height: 360px;
}
.success-header .interior-copy {
padding-top: 80px;
}
.success-header h1 {
color: #fff;
}
.success-header h3 {
color: #fff;
width: 65%;
}
.container-overlap {
width: 1060px;
max-width: 100%;
background: #FFF;
margin: 0 auto;
margin-top: -60px;
box-shadow: 0 0 15px rgba(0,0,0,0.13);
-moz-box-shadow: 0 0 15px rgba(0,0,0,0.13);
-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.13);
}
.row {
width: 100%;
max-width: 980px;
margin: 0 auto;
}
.page-padding {
padding-left: 20px;
padding-right: 20px;
}
#second img {
margin-top: 15px;
}
#protector-series h4 {
font-size: 19px;
font-weight: 500;
}
#protector-series img {
border: 1px solid #ddd;
}
#protector-video li {
line-height: 30px;
list-style: none;
}
[class*="foundicon-"] {
  margin-right: 8px;
  margin-top: 2px;
  vertical-align: middle;
  font-size: 160%;
  display: inline-block;
  /*Dirty IE Hack*/
  zoom: 1;
  *display: inline;
}
#webinar ul li {
font-size: 13px;
line-height: 1.3;
margin-bottom: 1em;
color: #222;
}
.contact {
background: #3d3d3d url(../images/chat-bubble.png) no-repeat 30px center;
color: #FFF;
margin-top: 60px !important;
padding-left: 170px;
}
.contact h4 {
color: #FFF;
padding-top: 10px;
padding-bottom: 10px;
text-transform: uppercase;
font-size: 18px;
line-height: 21px;
}
.contact p {
padding-top: 20px;
padding-bottom: 10px;
}
.contact .phone-number {
color: #fff;
}
.footer {
color: #222222;
margin-top: 25px;
}
.footer ul {
color:#0c96d4;
list-style: inside;	
}
.footer h6 {
margin-top: 0;
}
#logo-footer img {
 margin-bottom: 10px;
}
.copyright {
background: #0c96d4;
padding-top: 20px !important;
color: #fff;
margin-top: 30px;
}

@media only screen and (max-width: 900px) and (min-width: 768px) {

.contact {
background: #3d3d3d url(../images/chat-bubble.png) no-repeat -60px center;
padding-left: 90px;
background-size: 159px auto;
}

}


/* small screen retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 1.5)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 1.5)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) { 


.contact {
background: #3d3d3d url(../images/chat-bubble@2x.png) no-repeat 30px center;
color: #FFF;
margin-top: 60px !important;
background-size: 159px auto;
padding-left: 170px;
}

}

/* Small display targeting */
@media only screen and (max-width: 767px) {

.page-padding {
padding:0;
}
.initial-content {
padding-top: 0px !important;
}
ul, ol, dl {
list-style-position: inside;
}
span.blue-highlight {
padding: 0;
}
.success-header h1 {
font-size: 40px;
}
.success-header h3 {
font-size: 24px;
width: 100%;
}
.success-header .interior-copy {
padding-top: 40px;
}
.touch h2 {
color: #0c96d4;
}
.contact {
margin-top: 20px !important;
padding-left: 80px !important;
background: #3d3d3d url(../images/chat-bubble.png) no-repeat -80px center;
background-size: 159px auto;
}
.contact h4 {
padding: 0;
}
.contact p {
padding: 0;
font-size: 13px;
line-height: 1.4;
}

}