// Grays
// -------------------------
$gray-dark: #424242;
$gray: #636363;
$gray-light: #999;
$gray-lighter: #cdcdcd;

// Accent colors
// -------------------------
$blue : #00afd8;
$blue-light: #76a7fa;
$blue-lighter: #a0c3ff;

// Scaffolding
// -------------------------
$body-bg: #fafafa;
$text-color:#8a9298;

// Links
// -------------------------
$link-color: $blue;
$link-hover-color: $blue;


$baseline-grid: 8px;
$layout-gutter-16: 16px;
$layout-gutter-24: 24px;

$layout-breakpoint-sm: 768px;
$layout-breakpoint-md: 992px;
$layout-breakpoint-lg: 1200px;

$menu-width: 304px;