<!doctype html>
<html ng-app="myapp">
  <body ng-app="import" ng-controller="Ctrl">
    https://<input ng-model="firebaseid" placeholder="<<firebase identifier>>">.firebaseio.com<br />
    <button ng-click="import()">Import Players to {{'https://'+firebaseid+'.firebaseio.com/projects'}}</button>
    <span ng-show="completed">projects successfully imported!</span>
    <div ng-repeat="project in projects">{{ project }}</div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js'></script>
    <script src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js'></script>
    <script>
      var app = angular.module("myapp", ["firebase"]);
      function Ctrl($scope) {
        $scope.projects = [];
        $scope.import = function() {
          var projectArray = 
          [
    {
      "images": [
        "uibootstrap-1",
        "uibootstrap-2"
      ],
      "url":"http://angular-ui.github.io/bootstrap/",
      "id": 0,
      "title": "Angular UI Boostrap",
      "subtitle": "Visual Design, HTML5, CSS3",
      "desc": "Contributed to the design and styling of the demo site for the open source github project Angular UI Boostrap."
    },
    {
      "images": [
        "fasteners-1",
        "fasteners-2",
        "fasteners-3"
      ],
      "url":"http://www.strongtie.com/products/fasteners/landing/strongdrive.html",
      "id": 1,
      "title": "Simpson Strong-Tie Fasteners",
      "subtitle": "Visual Design, HTML5, CSS3",
      "desc": "Landing pages designed and built for Simpson Strong-Tie Fastener product lines."
    },
    {
      "images": [
        "diylocator-1",
        "diylocator-2",
        "diylocator-3"
      ],
      "url":"http://diydoneright.com/retailer-locator/",
      "id": 2,
      "title": "Simpson Strong-Tie Retailer Locator",
      "subtitle": "Visual Design, HTML5, CSS3",
      "desc": "A retailer locator page I designed and created for the Simpson Strong-Tie DIY Done Right site."
    },
    {
      "images": [
        "litlib-1",
        "litlib-2"
      ],
      "url":"https://play.google.com/store/apps/details?id=com.strongtie.litlib",
      "id": 3,
      "title": "Simpson Strong-Tie Literature Library",
      "subtitle": "Android, Visual Design",
      "desc": "I helped to create visual assets for the Android tablet and phone versions of the Simpson Strong-Tie Literature Library App."
    },
    {
      "images": [
        "afmarketing-1",
        "afmarketing-2"
      ],
      "url":"/assets/allstate/afmarketing",
      "id": 4,
      "title": "Allstate Marketing Portal",
      "subtitle": "Visual Design, Responsive Design, HTML5, Jquery, CSS3",
      "desc": "This is a work in progress project for Allstate Financial Marketing. I am currently working on a portal for the marketing department. They want a site where Allstate Financial Agents can go to get news, sales strategies, and marketing collateral needed to conduct business for their agencies. I am building this site to be responsive for desktop, mobile, and tablets."
    },
    {
      "images": [
        "besuccessful-1",
        "besuccessful-2"
      ],
      "url":"/assets/allstate/afmarketing/life/besuccessful",
      "id": 5,
      "title": "Besuccessful in Life",
      "subtitle": "Visual Design, Responsive Design, HTML5, Jquery, CSS3",
      "desc": "This site was a marketing initiative to communicate to agents on how they can be more successful at selling life insurance. Working with marketing managers, I was able to design and create this site under tight deadlines."
    },
    {
      "images": [
        "growthprotector-1",
        "growthprotector-2",
        "iul-1"
      ],
      "url":"/assets/allstate/afmarketing/retirement/growthprotector",
      "id": 6,
      "title": "Allstate Product Pages",
      "subtitle": "Visual Design, Responsive Design, HTML5, Jquery, CSS3",
      "desc": "I was responsible for designing and creating the style for various Allstate Life Product pages such as the Growth Protector Series and the Ultra Index product."
    },
    {
      "images": [
        "mockup-1",
        "mockup-2",
        "mockup-3"
      ],
      "largeImages": [
        "mockup-lrg-1",
        "mockup-lrg-2"
      ],
      "id": 7,
      "title": "Life Quote Mockup",
      "subtitle": "Visual Design, UX",
      "desc": "Working with information architects, I designed the following Photoshop concepts for an Allstate Life Insurance Quote and Application tool. "
    },
    {
      "images": [
        "cqb-1",
        "cqb-2",
        "cqb-3",
        "cqb-4"
      ],
      "url":"/assets/allstate/cqb/landing",
      "id": 8,
      "title": "Allstate Life Quote",
      "subtitle": "Web Application, Visual Design, HTML, CSS3, HTML Email",
      "desc": "Direct Term Sales was an Allstate initiative to start selling life insurance online. Working with a team of developers, UX architects, and sales managers I was responsible for the visual design and front-end development of the website. I was also responsible for the design of various direct email campaigns and involved to help implement a workflow system for sending the emails via Salesforce.com."
    },
    {
      "images": [
        "hpb-landing-1",
        "hpb-landing-2",
        "hpb-landing-3"
      ],
      "url":"/assets/hpb/landing",
      "id": 9,
      "title": "HPB Landing",
      "subtitle": "Flash, AS3, Visual Design",
      "desc": "Harris Private Bank wanted a new and fresh page to promote their various services. Working with the marketing manager, I created this simple interactive landing page using Flash and AS3."
    },
    {
      "images": [
        "mycfo-1",
        "mycfo-2",
        "mycfo-3"
      ],
      "url":"/assets/mycfo/banner",
      "id": 10,
      "title": "MyCFO Banner",
      "subtitle": "Flash, AS3, Visual Design",
      "desc": "Harris MyCFO wanted a simple online banner to help promote their services. I designed and created this interactive banner using Flash and AS3."
    },
    {
      "images": [
        "hpb-seattle-1",
        "hpb-seattle-2"
      ],
      "largeImages": [
        "hpb-seattle-lrg-1"
      ],
      "id": 11,
      "title": "HPB Seattle",
      "subtitle": "Print Design",
      "desc": "The Seattle Office at Harris Private Bank needed an invite for a special concert event they were hosting for some of their clients. Working under tight time constraints, I was able to conceptualize this invite while maintaining the Harris Brand."
    },
    {
      "images": [
        "c2c-1",
        "c2c-2"
      ],
      "url":"/assets/allstate/c2c",
      "id": 12,
      "title": "Accessallstate ClicktoChat",
      "subtitle": "Visual Design, Responsive Design, HTML5, CSS3",
      "desc": "Accessallstate.com is used by thousands of financial agents to help manage the life insurance sales process. This microsite was design to help them understand the benefits of using a new online help feature, Click to Chat. I built the site using responsive design for both a desktop and mobile optimized experience."
    },
    {
      "images": [
        "ca23-1",
        "ca23-2",
        "ca23-3"
      ],
      "largeImages": [
        "ca23-lrg-1",
        "ca23-lrg-2"
      ],
      "id": 13,
      "title": "CA 23",
      "subtitle": "Print Brochure",
      "desc": "A 2 page advertisement that I created for a residential developer. I tried to complement the trendy modern condos in the design and layout of this project. I used smaller type font and bold headings along with white space to mirror the clean style of the new condos."
    }
]
          var ref = new Firebase('https://'+$scope.firebaseid+'.firebaseio.com/projects');
          projectArray.forEach(function(project){
            ref.push(project);
            $scope.projects.push(project);
          });
          $scope.completed = true;
        }
      }
    </script>
  </body>
</function>
