/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
	max-width:100%;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body	{
	background:#fff;
	
}

p	{
	font:15px/22px arial, sans-serif;
	color:#333;
	
}

h1 {
text-align: center;
font:normal 30px/32px arial, sans-serif;
}

h2	{
	margin: 30px auto;
	width:270px;
	text-align: center;
	font:normal 27px/40px arial, sans-serif;
}
a	{
	color:#990000;
	text-decoration:none;
	font:bold 18px/22px arial, sans-serif;
	-webkit-transition: color 0.2s;
	-ms-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}
a:hover, a:focus {
color: #f40000;
}
.spot-red	{
	color: #990000;
	font-weight:bold;
}
li	{
	list-style:none;
}

header#main	{	
	text-align:center;
	background:#990000 url(../images/logo.jpg) 50% 0 no-repeat;
	height:60px;
}

header#main h1	{
	text-indent:-9999px;
	margin:0;
}
div#content	{
	background-color:#F3F3F3;
}
.corner-shadow-top-left {
  position: absolute;
  left: 0;
  top: 0;
}

.corner-shadow-top-right {
  position: absolute;
  right: 0;
  top: 0;
}

.corner-shadow-bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.corner-shadow-bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
}

.recessed {
-webkit-box-shadow: inset 0 11px 25px -10px rgba(0, 0, 0, 0.7), inset 0 -11px 25px -10px rgba(0, 0, 0, 0.4);
-moz-box-shadow: inset 0 11px 25px -10px rgba(0, 0, 0, 0.7), inset 0 -11px 25px -10px rgba(0, 0, 0, 0.4);
box-shadow: inset 0 11px 25px -10px rgba(0, 0, 0, 0.7), inset 0 -11px 25px -10px rgba(0, 0, 0, 0.4);
}

.loading {min-height: 300px; background: url('../images/loading.gif') no-repeat center center;}
.slide {height: 600px;}
.inner	{
	position:relative;
	white-space:normal;
	padding:0 15px;
	text-align:center;	
}
.slide img {
	margin-bottom:20px;
}
.slide .subtext	{
	text-align:left;
}
.intro img {
	padding-top:40px;
}
.section-1 img {
	padding-top:10px;
}
.section-4 h2 {font:22px/30px arial, sans-serif;}
.section-4 .subtext {
  position:static;
  margin:0 auto;
  text-align:center;
}
.hero {
  display:inline-block;
  margin-bottom:20px;
}
footer	{
	padding:0 15px 20px;	
	background-color:#fff;
}
footer p	{
	font:12px/15px arial, sans-serif;
}

.logo-slide {position: absolute; bottom: 30px; right: 20px;}

.flex-direction-nav a {width: 30px; height: 30px; margin: -30px 0 0; display: block; background: url(../images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 30%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right:10px; }
.flex-direction-nav .flex-prev {left:10px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 10px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 10px;}
.flexslider:hover .flex-next:hover	{opacity: 1; background: url(../images/bg_direction_nav.png) no-repeat -27px 0;}
.flexslider:hover .flex-prev:hover	{opacity: 1; background: url(../images/bg_direction_nav.png) no-repeat 0 0;}
.flex-control-paging li a {width: 20px; height: 20px;}
.flex-control-nav {bottom: 30px;}
.flex-control-nav li {margin: 0 12px;}

/*ICONS*/
[class^="icon-"] {
	display:inline-block;
	width:40px;
	height:34px;
	vertical-align:text-top;
	background:url(../images/quotes.png) no-repeat;
	margin-right:.5em;
	*margin-right:.3em;
}
[class^="icon-"]:last-child {
	*margin-left:0;
}
.icon-quote-left {
	background-position:0 0;
	position:absolute;
	margin:0;
	top:8px;
	left:8px;
}
.icon-quote-right {
	background-position:-40px;
	position:absolute;
	margin:0;
	bottom:8px;
	right:8px;
}

.chat-bubble-left, .chat-bubble-right {
position: relative;
padding: 5px 10px;
margin: 1em 0 3em;
color: white;
background: #ab9c00;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#ab9c00), to(#ab9c00));
background: -moz-linear-gradient(#ab9c00, #ab9c00);
background: -o-linear-gradient(#ab9c00, #ab9c00);
background: linear-gradient(#ab9c00, #ab9c00);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

.chat-bubble-right:before {
content: "";
position: absolute;
bottom: -11px;
right: 15px;
border-width:12px 12px 0 0;
border-style: solid;
border-color: #ab9c00 transparent;
display: block;
width: 0;
}

.chat-bubble-left:after {
content: "";
position: absolute;
bottom: -11px;
left: 15px;
border-width: 12px 0 0 12px;
border-style: solid;
border-color: #ab9c00 transparent;
display: block;
width: 0;
}

.chat-bubble2-left, .chat-bubble2-right {
position: relative;
padding: 8px 45px;
margin-bottom:30px;
color: white;
background: #ab9c00;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#d1c839), to(#a79e30));
background: -moz-linear-gradient(#bab233, #a79e30);
background: -o-linear-gradient(#bab233, #a79e30);
background: linear-gradient(#d1c839, #a79e30);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-moz-box-shadow: 1px 2px 2px #999;
-webkit-box-shadow: 1px 2px 2px #999;
box-shadow: 1px 2px 2px #999;
}
.chat-bubble2-left:after, .chat-bubble2-left:before {
content: "";
position: absolute;
bottom: -24px;
left: 15px;
border-width: 0 13px 25px 0px;
border-style: solid;
border-color: transparent #a79e30;
display: block;
width: 0;
}
.chat-bubble2-right:after, .chat-bubble2-right:before {
content: "";
position: absolute;
bottom: -24px;
right: 15px;
border-width: 0 0 25px 13px;
border-style: solid;
border-color: transparent #a79e30;
display: block;
width: 0;
}
.chat-bubble2-left:before	{
	border-color: transparent #999;
    bottom: -24px;
    left: 17px;
}
.chat-bubble2-right:before	{
	border-color: transparent #999;
    bottom: -24px;
    right: 13px;
}
.chat-bubble2-left p, .chat-bubble2-right p {
	color:#fff;
	font:normal 14px/20px arial, sans-serif;
	margin:0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/*
 * Floats
 */
 
 .left	{
	 float:left;
 }
 .right	{
	 float:right
 }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
   
@media screen and (min-width: 600px) {
    /* Style adjustments for viewports that meet the condition */

h2 {
	width:430px;
	font:normal 35px/48px arial, sans-serif;
	margin:25px auto;
}
header#main	{	
	background:#990000 url(../images/logo-desktop.jpg) 50% 0 no-repeat;
}
.inner	{
  margin:0 auto;
  width: 500px;
}
.slide {height: 660px;}
.section-2 img {width: 85%;}
.section-3 img {width: 85%;}

.section-4 h2 {font:27px/40px arial, sans-serif;}

.chat-bubble2-left, .chat-bubble2-right {padding-top: 15px;}
.chat-bubble2-left p, .chat-bubble2-right p {font:18px/26px arial, sans-serif;}

.flex-direction-nav a {width: 70px; height: 70px; margin: -70px 0 0; display: block; background: url(../images/bg_direction_nav.jpg) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 1; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right:0; }
.flex-direction-nav .flex-prev {left:0;}
.flexslider:hover .flex-next {right:0;}
.flexslider:hover .flex-prev {left:0;}
.flexslider:hover .flex-next:hover	{ background: url(../images/bg_direction_nav_over.jpg) no-repeat -70px 0;}
.flexslider:hover .flex-prev:hover	{ background: url(../images/bg_direction_nav_over.jpg) no-repeat 0 0;}

}


@media screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
	
h2 {
	width:auto;
	font:normal 36px/50px arial, sans-serif;
}

.inner	{
	position:relative;
	margin:0 auto;
	width:800px;
}
.hero	{
	width:auto;
}
.slide {height: 630px;}
.slide img	{
	position: absolute;
	width:auto;
}
.slide .subtext	{
	position: absolute;
	white-space: normal;
	width: 220px;
	left: 610px;
	top: 120px;
}
.intro img {
	left:0;
}

.section-1 img {
	left:0;
}
.section-1 .subtext {
	left: 590px;
}
.section-2 img {
	left:70px;
}
.section-2 .subtext {
	left: 540px;
}
.section-3 img {
	left:70px;
}
.section-3 .subtext {
	left: 540px;
}
.section-4 .inner	{
	margin:0 auto;
	width: 500px;
}
.section-4 h2	{
	width:600px;
}
.section-4 .chat-bubble2-left, .section-4 .chat-bubble2-right {
	width:280px;
}
.section-4 .subtext	{
	position:static;
  width: auto;
  padding: 0;
}

.flex-control-paging li a {width: 11px; height: 11px;}
.flex-control-nav {bottom: 20px;}
.flex-control-nav li {margin: 0 6px;}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
      max-width:100%;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
