.profile {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    .box-shadow(0 1px 1px #999999);
    overflow: hidden;
    padding: 20px;
    .box-sizing(border-box);

    /*Tablet Portrait iPad*/
    @media (max-width: 768px)  { 
        padding: 10px;
    }

    nav {
        margin: -20px -20px 0;
        background-color: @lightBlue;
        padding: 20px;

        a.back {
            color: #fff;
        }

        /*Tablet Portrait iPad*/
        @media (max-width: 768px)  { 
             margin: -10px -10px 0;
             padding: 20px 6px;
        }

    }

    a.profile-img {
        .border-radius(50%);
        display: block;
        width: 100px;
        height: 100px;
        background: url(img/profile.jpg) no-repeat center center;
        background-size: 100%;
        margin: 0 auto;
        margin-top: -40px;
    }

    h3 {
        text-align: center;
        margin-bottom: 0;
    }

    h4 {
        color: @textColor;
        font-weight: @headingsFontWeight;
        margin: (@baseLineHeight / 2) 0;
    }

    h5 {
        margin: 0;
        color: @textColor;
    }

    .heading {

        h5 {
            text-align: center;

        }
    }

    ul.social {
        margin: 0 auto;
        width: 138px;

        .fa-google-plus{
            color: #ce3925;
        }

        .fa-facebook {
            color: #3b5998;
        }

        .fa-linkedin {
            color: #006599;
        }

        li {
            padding: 0;

            i {
                color: #ccc;
                margin: 8px;
                padding: 9px 7px;
                text-align: center;
                vertical-align: middle;
            }

            a:hover, a:focus {
                text-decoration: none;
            } 
        }
    } 

    .contact {

        ul.inline {
            > li {
                padding: 0;
            }
        }

        ul.info {

            li {
                position: relative;
                line-height: 16px;
                height: 48px;

                a {
                    font-size: 16px;
                    display: block;
                    padding: 6px 0;
                }

                p {
                    margin: 0;
                    font-size: 16px;
                }

                .fa-mobile {
                    margin-left: 4px;
                }

                .fa-envelope-o {
                    font-size: 1.4em;                
                }

                .content {
                    display: inline-block;
                    vertical-align: middle;
                    width: 86%;
                }

                .title {
                    margin: 0;
                    font-size: 12px;
                    color: @grayDark;
                }

               span:first-child {
                    display: block;
                    width: 60px;
                    font-size: 12px;
                }

                span.gc-cs-link {
                    width: auto;
                } 

                .fa {
                    color: @blue;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: right;
                }
            }
        }       
    }
}