<div class="container">
  <nav class="back">
    <a ng-click="saveContact()" class="edit-save">Save</a>
  </nav>
  <div class="" >
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-xs-3">
          <span class="profile-img"></span>
        </div>
        
        <div class="col-xs-9">
          <input ng-model="contact.name" type="text" class="form-control" id="name" placeholder="Name">
        </div>
      </div>
    </form>

    <form>
      <div class="form-group">
        <label class="title" for="">Phone</label>
        <input ng-model="contact.phone" type="text" class="form-control" id="phone" placeholder="phone">
        
      </div>
      <div class="form-group">
        <label class="title" for="">Email</label>
        <input ng-model="contact.email" type="text" class="form-control" id="email" placeholder="email">
        
      </div>
      <div class="form-group">
        <label class="title" for="">Address</label>
        <input ng-model="contact.address" type="text" class="form-control show-grid" ng-focus="geolocate()" id="address" placeholder="Street Address" required>
        <input ng-model="contact.city" type="text" class="form-control show-grid" id="locality" placeholder="City" required>
        <div class="row">
        <div class="col-xs-8">
          <!-- <input ng-model="contact.state" type="text" class="form-control" id="state" placeholder="state"> -->
          <select ng-model="contact.state" ng-options="state.name as state.name for state in states" class="form-control" id="administrative_area_level_1" required>
          </select>
        </div>
        <div class="col-xs-4"> 
          <input ng-model="contact.zip" type="text" class="form-control" id="postal_code" placeholder="Zip" required>
        </div>
        </div>
      </div>
    </form>
  </div>
</div>