.pac-container:after,
.ldpi.pac-container:after,
.mdpi.pac-container:after, 
.hdpi.pac-container:after {
	background-image: none;
}

.tile {
	width: 56px; 

		@media (min-width: $layout-breakpoint-sm) {
			width: 64px;
		}
}
nav {

	.edit-save {
		float: right;
		cursor: pointer;
		font-size: $font-size-large;
	}
}

.contact-heading {
	height: 88px;

	h3 {
		display: inline;
		line-height: 64px;
		vertical-align: middle;
	}
}

.search {
	
	//tweak to bootstrap form-control
	.form-control {
		font-family: $headings-font-family;
		color:#3d4247;
		background-color: #eee;
		border:1px solid #eee;
		text-align: center;
		@include box-shadow(none);

		&:focus {
			border-color: #66afe9;
			outline: 0;
			@include box-shadow(0 0 8px rgba(102, 175, 233, 0.6));
		}
	}

	span {

	}
}

.profile-img {
	display: block;
	width: 40px;
	height: 40px;
	margin: 4px;
	background: url(img/profile-180.jpg) no-repeat center center;
	background-size: 100% !important;
	border-radius:50%;

	@media 
	(-webkit-min-device-pixel-ratio: 1.5), 
	(min-resolution: 144dpi){ 
			background: url(img/profile-180.jpg) no-repeat center center;
	}
}


ul.list-contacts {

	//tweak to bootstrap list-group styling
	li{
		cursor: pointer;
		margin: 0 -16px;
		border-left: none;
		border-right: none;
		&:first-child, &:last-child {
			border-radius: 0;
		}

	}

	.qp-next {
			float: right;
			display: inline-block;
			line-height: 64px;
		}

}

ul.list-contact, ul.list-contacts {

	li {
		cursor: pointer;
		position: relative;
		padding: 10px $layout-gutter-16;
		border-bottom: 1px solid #ddd;
		&:last-child {
			border-bottom: none;
		}

		a {
			
		}

		p {
				margin: 0;
				font-size: 16px;
				color: #000;
		}

		.content {
				display: inline-block;
				vertical-align: middle;
		}

		[class^="qp-"], [class*=" qp-"] {
			float: right;
			vertical-align: middle;
			line-height: 44px;
			color: $blue;
		}

		.title {
			margin: 0;
			font-size: $font-size-base;
			font-family: $headings-font-family;
			color: $blue;
		}

	}

} 

//add pointer to bootstrap pagination
.pagination>li>a, .pagination>li>span {
	cursor: pointer;
}
