<header class="app-bar" ng-class="{dark: scroll > 50}"  keylines="7" app-bar>
	<div class="container" layout="horizontal" layout-align="start center">
		<h6 class="text-title color-accent" flex>thienpham</h6>
	  <span role="button" class="icon-btn icon-menu pull-right" ng-click="openMenu()" title="Menu" aria-label="Menu" icon-btn>
	  	<span class="ripple"></span>
	  	<svg><use xlink:href="assets/qpham-portfolio.svg#icon-menu"></use></svg>
	  </span>
	</div> 
</header>
<div class="container main">
	<!-- <figure>
		<img src="http://d249o6o0sttdia.cloudfront.net/~/media/riotile.jpg" alt="Rio Galeão.">
	</figure> -->
	<h4 class="text-light" layout="horizontal" layout-align="center center" keylines="8">Recent Work</h4>
	<ul class="list-projects list-unstyled clearfix">
		<li id="project{{project.$id}}" class="list-projects-item" ng-repeat="project in projects | orderByPriority">
			<a href="projects/{{project.$id}}" delay-click>
			<figure class="defer-image image-ratio:4x3 is-loading">
				<picture >
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					<source type="image/webp" 
					srcset="assets/img/{{project.cover}}-360.webp, assets/img/{{project.cover}}-180.webp" />
					<source srcset="assets/img/{{project.cover}}-360.jpg, assets/img/{{project.cover}}-180.jpg" />
					<!--[if IE 9]></video><![endif]-->
					<img class="" src="assets/img/{{project.cover}}-180.jpg" alt="{{project.title}}" imgload/>
				</picture>
				<!-- <img ng-src="assets/img/{{project.cover}}.jpg" imgload> -->
				<figcaption class="text-headline color-white text-center" layout="vertical" layout-align="center">{{project.title}}</figcaption>
			</figure>
			</a>
		</li>
	</ul>
</div>
<footer class="footer" ng-cloak>
	<div class="container">
		<p>
		This site was designed using 
		<a href="http://www.angularjs.org">AngularJS</a>,
		<a href="http://github.com/joshdmiller/ng-boilerplate">ng-boilerplate</a>,
		<a href="https://github.com/angular-ui/ui-router">ui-router</a>,
		<a href="http://angular-ui.github.io/bootstrap/">ui-bootstrap</a>,
		<a href="https://www.firebase.com/">firebase</a>,
		<a href="http://nodejs.org/">nodejs</a>,
		and 
		<a href="http://icomoon.io/">IcoMoon</a>.         
		</p>

		<p><a href="https://github.com/thienedits/ng-boilerplate/tree/master" target="_blank">Project Github Repo</a></p>
		
		<p>(c) 2013 Thien Pham</p>
		<ul class="social">
			<li><a href="http://plus.google.com/102157534092095391789/about" target="_blank" title="Google Plus"><i class="qp-google-plus qp-lg"></i></a></li><li><a href="http://www.facebook.com/thienpham.us" target="_blank" title="Facebook"><i class="qp-facebook qp-lg"></i></a></li><li><a href="http://www.linkedin.com/in/thienpham" target="_blank"><i class="qp-linkedin qp-lg" title="Linkedin"></i></a></li>
		</ul>
	</div>
</footer>
