<div class="row-fluid show-grid">
<div class="project-large">
	<div class="container">
	<nav class="close">
		<a href="project/{{project.id}}" class="close" title="Close"><i class="icon-remove-sign"></i>&nbsp;Close</a>
	</nav>
	<ul rn-carousel rn-carousel-index="currentImage" rn-carousel-indicator="true" class="image">
		<li ng-repeat="image in project.largeImages" >
			<img ng-src="assets/img/{{image}}.jpg" alt="">
		</li>
	</ul>
	<nav>
		<button class="btn nobg prev" ng-click="currentImage = currentImage - 1" ng-disabled="currentImage == 0"><i class="icon-chevron-left"></i>&nbsp;prev</button>
		<button class="btn nobg next" ng-click="currentImage = currentImage + 1" ng-disabled="currentImage == project.largeImages.length - 1">next&nbsp;<i class="icon-chevron-right"></i></button>
	</nav>
</div>
</div>
</div>