<div class="main-content-header">
  <div class="container">
    <button type="button" class="btn btn-navbar" ng-click="openMenu()" title="Menu">
      <span class="icon-bar">Menu</span>
    </button>
    <a class="brand" href="/" title="qpham.com">thienpham</a>
  </div> 
</div>
<div class="container">
	<ul class="list-projects list-unstyled">
		<li id="project{{project.$id}}" class="list-projects-item" ng-repeat="project in projects | orderByPriority">
			<a href="projects/{{project.$id}}">
			<div class="defer-image image-ratio:4x3 is-loading">
				<img ng-src="assets/img/{{project.images[0]}}.jpg" imgload>
			</div>
			</a>
		</li>
	</ul>
</div>
<footer class="footer" ng-cloak>
	<div class="container">
		<p>
		This site was designed using 
		<a href="http://www.angularjs.org">AngularJS</a>,
		<a href="http://github.com/joshdmiller/ng-boilerplate">ng-boilerplate</a>,
		<a href="https://github.com/angular-ui/ui-router">ui-router</a>,
		<a href="http://angular-ui.github.io/bootstrap/">ui-bootstrap</a>,
		<a href="https://www.firebase.com/">firebase</a>,
		<a href="http://nodejs.org/">nodejs</a>,
		and 
		<a href="http://icomoon.io/">IcoMoon</a>.         
		</p>

		<p><a href="https://github.com/thienedits/ng-boilerplate/tree/master" target="_blank">Project Github Repo</a></p>
		
		<p>(c) 2013 Thien Pham</p>
		<ul class="social">
			<li><a href="http://plus.google.com/102157534092095391789/about" target="_blank" title="Google Plus"><i class="qp-google-plus qp-lg"></i></a></li><li><a href="http://www.facebook.com/thienpham.us" target="_blank" title="Facebook"><i class="qp-facebook qp-lg"></i></a></li><li><a href="http://www.linkedin.com/in/thienpham" target="_blank"><i class="qp-linkedin qp-lg" title="Linkedin"></i></a></li>
		</ul>
	</div>
</footer>