<div class="row-fluid show-grid">
<div class="container">
<div class="project">
	<nav class="back">
		<a href="/home" class="back" title=""><i class="icon-chevron-left"></i>&nbsp;Back</a>
	</nav>
	<ul rn-carousel rn-carousel-index="currentImage" rn-carousel-indicator="true" class="image">
		<li ng-repeat="image in project.images" >
			<img ng-src="assets/img/{{image}}.jpg" alt="">
		</li>
	</ul>
	<nav>
		<button class="nobg" ng-click="currentImage = currentImage - 1" ng-disabled="currentImage == 0" title="Previous"><i class="icon-chevron-left"></i>&nbsp;prev</button>
		<button class="nobg" ng-click="currentImage = currentImage + 1" ng-disabled="currentImage == project.images.length - 1" title="Next">next&nbsp;<i class="icon-chevron-right"></i></button>
		<a ng-href="project/{{project.id}}/large" class="gray-icon" ng-hide="siteLink" title="View Larger"><i class="icon-resize-full"></i></a>
		<a ng-href="{{project.url}}" class="gray-icon" ng-show="siteLink" title="View Site" target="_blank"><i class="icon-external-link"></i></a>
	</nav>
	<div class="copy">
	<h4>{{project.title}}</h4>
	<h5>{{project.subtitle}}</h5>
	<p>{{project.desc}}</p>
	</div>
</div>
</div>
</div>