<header class="app-bar" ng-class="{dark: scroll > 30}" keylines="7">
  <div class="container" layout="horizontal" layout-align="space-between center">
    <a href="/projects" class="icon-btn pull-left" title="Go Back" icon-btn delay-click>
      <span class="ripple"></span>
      <svg><use xlink:href="assets/qpham-portfolio.svg#icon-arrow-back"></use></svg>
    </a>
    <div class="more">
      <a ng-href="/projects/{{project.$id}}/large" class="icon-btn pull-right" ng-hide="siteLink" title="View Larger" icon-btn delay-click>
        <span class="ripple"></span>
        <svg><use xlink:href="assets/qpham-portfolio.svg#icon-fullscreen"></use></svg>
      </a>
      <a ng-href="{{project.url}}" class="icon-btn pull-right" ng-show="siteLink" title="View Site" target="_blank" icon-btn delay-click>
        <span class="ripple"></span>
        <svg><use xlink:href="assets/qpham-portfolio.svg#icon-launch"></use></svg>
      </a>
    </div>
  </div>
</header>

<div class="container main">
	<ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide ng-repeat="image in project.images">
      <div class="defer-image image-ratio:4x3 is-loading">
        <picture >
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source type="image/webp" 
          srcset="assets/img/{{image}}-720.webp 720w, assets/img/{{image}}-360.webp 360w" 
          sizes="(min-width: 992px) 960px, (min-width: 768px) 720px, 100vw" />
          <source srcset="assets/img/{{image}}-720.jpg 720w, assets/img/{{image}}-360.jpg 360w" 
          sizes="(min-width: 992px) 960px, (min-width: 768px) 720px, 100vw" />
          <!--[if IE 9]></video><![endif]-->
          <img class="" src="assets/img/{{image}}-720.jpg" alt="{{project.title}}" imgload/>
        </picture>
			</div>
    </ion-slide>
  </ion-slide-box>
	<div class="slider-controls">
    <span class="slider-control slider-control-prev icon-btn" ng-click="prevSlide()" ng-if="slideIndex > 0" icon-btn>
      <span class="ripple"></span>
      <svg><use xlink:href="assets/qpham-portfolio.svg#icon-chevron-left"></use></svg>
    </span>
    <span class="slider-control slider-control-next icon-btn" ng-click="nextSlide()" ng-if="slideIndex != imgLength - 1" icon-btn>
      <span class="ripple"></span>
      <svg><use xlink:href="assets/qpham-portfolio.svg#icon-chevron-right"></use></svg>
    </span>
  </div>
  <div class="copy">
    <h5 class="color-accent" ng-cloak>{{project.title}}</h5>
    <h6 class="text-secondary" ng-cloak>{{project.subtitle}}</h6>
    <p class="text-subhead1" ng-cloak>{{project.desc}}</p>
  </div>
</div>

