.project {
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  overflow: hidden;
  min-height: 700px;
  font-size: 16px;

  /*Tablet Portrait iPad*/
  @media (max-width: 768px)  { 
  min-height: 400px;
  }


  nav.back, nav.viewer {
    padding: 0 10px;
    margin-top: -10px;
    position: relative;

    a, button {
      
    }

    /*Tablet Portrait iPad*/
    @media (max-width: 768px)  { 

    }
  }

  h4 {
    color: @linkColor;
    margin-bottom: 4px;
  } 

  h5 {
    white-space: normal;
    margin: 0;
    color: #3d4247;
  }

  p {
    font-size: @baseFontSize;
  }

  .copy {
    padding: 10px;
  }

}

.project-large {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  min-height: 1000px;
  background-color: #fff;
  position: relative;

    /*Tablet Portrait iPad*/
  @media (max-width: 768px)  { 
    margin-left: -6px;
    margin-right:-6px;
    min-height: 400px;
  }

  .container {
    max-width: 940px;

    @media (max-width: 979px)  { 
      width: auto;
    }
  }

  nav.close {
    background-color: #fff;
    padding: 20px;

    /*Tablet Portrait iPad*/
    @media (max-width: 768px)  { 
        padding: 10px; 
    }
  }
  
  nav {

    a.close {

      [class^="icon-"], [class*=" icon-"] {
        vertical-align:top;
      }
    }

    button.btn {
      position: absolute;
      z-index: 10;
      top: 20%;
      color: #fff;
      .opacity(50);
      background-color: #444;
      text-shadow: none;
    }

    button.btn.prev {
      left: 10px;
    }

    button.btn.next {
      right: 10px;
    }

    .btn.disabled, .btn[disabled] {
      .opacity(10);
    }
  }

  .rn-carousel-indicator {
    top:0;
  }
}

a.gray-icon {
  display: inline-block;
  float: right;
  &:hover {
    text-decoration: none;
  }
}

.touch {

  .project-large {
    top: -22px;
    z-index: 9999;

    nav.close {
      position: fixed;
      z-index: 20;
      width: 100%;
      top: 0;
      background-color: #fff;
    }
  }
}


/*Carousel Tweaks*/


/* general */
.rn-carousel-container {
    position: relative;
}
.rn-carousel-slides {
    transform: translate3d(0,0,0);
    position: relative;
    white-space: nowrap;
    overflow: visible;
    padding: 0;
    margin: 0;
}
.rn-carousel-slide {
    white-space: normal;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* indicators */
.rn-carousel-indicator {
  width: 100%;
  text-align:center;
  height: 20px;
  position: relative;
  bottom: -20px;
  cursor: pointer;

  span {
    font-size: @fontSizeLarge;
    transition: color .2s ease-out;
    padding: 0 3px;
    color: #9da6ae;
    &:before {
      content: "\25cf";
    }
  }

  .active {
    color: @blue;
  }
}

/* controls */
.rn-carousel-control {
  transition: opacity 0.2s ease-out;
  font-size: 24px;
  position: absolute;
  top: 50%;
  margin-top: -20px - (30px / 2);
  opacity: 0.75;
  cursor: pointer;
  padding: 7px 5px;
  border: 1px solid #ccc;
  .border-radius(50%);
  color: #3d4247;
  background: #fff;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: normal;

  &:hover {
    opacity: 1;
  }

  &.rn-carousel-control-prev {
    padding: 7px;
    font-family: 'qpham';
    left: 10px;
    &:before {
      content: "\e609";
    }
  }

  &.rn-carousel-control-next {
    padding: 7px;
    font-family: 'qpham';
    right: 10px;
    &:before {
      content: "\e603";
    }
  }
}

