/**
 * Inline CSS
 */

 html {
  height: 100%;
  line-height: 1;
  &.expanded {
    overflow: hidden;
  }
 }

// Body reset
// -------------------------
body {
  margin:0 auto;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;
  background-color: @bodyBackground;
  height: 100%;
  display: block;
  overflow: auto;
  text-rendering: optimizelegibility;
  &.expanded {
    overflow: hidden;
  }
}

.imgList h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: @baseFontSize * 1.25;
  font-weight: normal;
  line-height: @baseLineHeight;
  margin-bottom: 4px;
  color: @linkColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
}

.imgList h5 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: @baseFontSize;
  font-weight: normal;
  line-height: @baseLineHeight;
  margin-top: 0;
  color: @grayLight;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
}

footer {
  background-color: #9da6ae;
  margin: 0 auto;
  width: 100%;


  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: none;
  } 

  p {
    color: #d6dfe2;
    text-align: center;
  }

  .container {
    padding: 15px;
  }
}


/**
 * Layout
 */

.spinner {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #000;
  .opacity(50);
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin: -0.5em 0 0 -0.5em;
    background: #7d7d7d;
    border-radius: 100%;
    content: ' ';
    -webkit-animation: bobble 1s cubic-bezier(0.6,1,1,1) infinite;
    animation: bobble 1s cubic-bezier(0.6,1,1,1) infinite;
  } 

  @media (min-width:600px) {
    min-height: 400px;
  }

  @media (min-width:720px) {
    min-height: 480px;
  }

}

.mainView {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  min-height: 100%;
  margin-bottom: -122px;
  z-index: 3;
  background: #edf1f2;
  .box-shadow(-5px 0px 10px 1px rgba(0,0,0,0.25));
  .transition(-webkit-transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000));
  &.expanded {
    .translate3d(75%, 0, 0);
    overflow: hidden;
  }
  &:after {
  content: '';
  display: block;
  height: 122px;
  }
  
}

.main-ui {
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  .box-sizing(border-box);

}

.header {
  height: 55px;
  z-index: 4;
  margin: 0 auto;
  .translate3d(0, 0, 0);

  .brand {
    font-family: 'robotoregular', sans-serif;
    margin: 0;
    padding: 15px;
    font-size: 23px;
    color: #8a9298;
    display: block;
    width: 138px;
    margin:0 auto;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  }

  .btn-navbar {
    display: block;
    width: 40px;
    height: 28px;
    padding: 0;
    margin: 12px;
    background-color: #fff;
    border: 1px solid #8a9298;
    float: left;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    .border-radius(5px);

    .icon-bar {
      height: 3px;
      background: #8a9298;
      position: relative;
      display: block;
      text-indent: -999em;
      width: 47%;
      margin: 0 auto;
      .border-radius(5px);
      &:before {
        top:-5px;
      }
      &:before, &:after {
        height: 3px;
        background: #8a9298;
        border-radius: 5px;
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
      }
      &:after {
        bottom:-5px;
      }
    }
  }    
}


/*.container {
margin-right: auto;
margin-left: auto;
max-width: 720px;
    
  //Clearfix
  &:before, &:after {
      display: table;
      line-height: 0;
      content: "";
  }

  @media (max-width: 767px) {
      width: auto;
  }
}*/


/**
 * Navigation
 */

.gradient {
background: #f3f3f3; /* Old browsers */
background: -moz-linear-gradient(top,  #f3f3f3 0%, #e0e0e0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f3f3f3 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f3f3f3 0%,#e0e0e0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f3f3f3 0%,#e0e0e0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f3f3f3 0%,#e0e0e0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}


/*Tweaks to Bootstrap 2.3.2 navbar fixed top*/

.navbar-fixed-top {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background: #f1f5f7;
  overflow: auto;
  height: auto;
  visibility: hidden;
  padding: 0;
  margin: 0 auto;
  &.expanded {
    width: 75%;
    visibility: visible;
    display: block;
  }
  &:after, &:before {
    content: "";
    display: table;
    clear: both;
  }  
}

.navbar {

    .nav {
        list-style: none;
        display: block;
        margin: 0;

         > li {

            > a {
                margin-bottom:0;
                font-family: 'robotolight', sans-serif;
                text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
                font-weight: normal;
                padding: 15px 15px 15px;
                display: block;
                color: #777777;
            }

            > a:hover, > a:focus {
                background-color: #f2f2f2;
            }
        }
    }

}


@media (min-width: 769px)  { 

.navbar {

    .header {
        float: left;
        border: none;
        background: none;
    }

    .btn-navbar {
         display: none;
    }

    .brand {
        padding: 15px 30px;
    }

    .nav {
        float: left;

         > li {
           float: left; 
        }
    }

    .nav-collapse {
        top: 0;
        position: static;
    }

}

.csstransforms3d.csstransitions .nav-collapse, .csstransforms3d.csstransitions .nav-collapse.expanded {
        height: auto !important;
        overflow: visible !important;
        clear: none;
        .translate3d(0, 0, 0);
    }

}

/**
 * Author:      Matt Hinchliffe <www.maketea.co.uk>
 * Description: Responsive image placeholders
 */

.no-js .defer-image {
  display: none;
}

.defer-image > img {
  display: none;
  max-width: 100%;
  min-width: 100%;
}

.defer-image.is-loading {
  position: relative;
  background: #fff;
}

/* Image aspect ratios - % is relative to width of containing block */

.image-ratio\:1x2 > div {
  padding-top: 200%;
}

.image-ratio\:9x16 > div {
  padding-top: 177.777%;
}

.image-ratio\:10x16 > div {
  padding-top: 160%;
}

.image-ratio\:2x3 > div {
  padding-top: 150%;
}

.image-ratio\:3x4 > div {
  padding-top: 133.333%;
}

.image-ratio\:1x1 > div {
  padding-top: 100%;
}

.image-ratio\:4x3 > div {
  padding-top: 75%;
}

.image-ratio\:3x2 > div {
  padding-top: 66.66%;
}

.image-ratio\:16x10 > div {
  padding-top: 62.5%;
}

.image-ratio\:16x9 > div {
  padding-top: 56.25%;
}

.image-ratio\:2x1 > div {
  padding-top: 50%;
}

/* Preload and loaded animations */

@-webkit-keyframes bobble {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
  }
  35% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
  }
}

@keyframes bobble {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  35% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.defer-image.is-loading::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em;
  background: rgba(125, 125, 125, 0.5);
  border-radius: 100%;
  content: ' ';
  -webkit-animation: bobble 1s cubic-bezier(0.6, 1, 1, 1) infinite;
          animation: bobble 1s cubic-bezier(0.6, 1, 1, 1) infinite;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.defer-image.is-loaded > img {
  display: block;
  -webkit-animation: fadeIn 250ms both;
          animation: fadeIn 250ms both;
}

.show-grid {
margin-top: 10px;
margin-bottom: 20px;
}

.touch ul.imgList li {
    .border-radius(0);
}

ul.imgList {
  padding: 0;
  display: block;
  margin: 0 auto;
  list-style: none;
}

ul.imgList li {
  display: block;
  width: 100%;
  height: auto;
  min-height: 230px;
  margin: 0 auto 5px;
  cursor: pointer;
  background: #fff;
  .border-radius(2px);
}

ul.imgList li:last-child {
  margin-bottom: 0;
}

ul.imgList li a {
  display: block;
  height: auto;
}

ul.imgList .copy {
  margin: 0 12px;
}

/*Phone Portrait*/

@media (max-width: 320px) {
  ul.imgList li {
    width: 306px;
  }
  ul.imgList .copy {
    margin-right: 60px;
  }
}

/*Phone Landscape*/

@media (min-width: 480px) {
  ul.imgList li {
    width: 48%;
    margin: 0 4px 8px;
  }
}

/*Tablet Portrait Nexus 7*/

@media (min-width: 600px) {
  ul.imgList li {
    min-height: 280px;
    margin: 0 5px 10px;
  }
}

/*Tablet Portrait iPad*/

@media (min-width: 767px) {
  ul.imgList li {
    min-height: 280px;
    margin: 0 14px 14px 0;
  }
}