/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

/*@import '../../vendor/bootstrap/less/mixins.less';*/
@import '../../vendor/bootstrap/less/reset.less';
/*@import '../../vendor/bootstrap/less/scaffolding.less';
@import '../../vendor/bootstrap/less/type.less';
@import '../../vendor/bootstrap/less/grid.less';
@import '../../vendor/bootstrap/less/layouts.less';
@import '../../vendor/bootstrap/less/navs.less';
@import '../../vendor/bootstrap/less/navbar.less';
@import '../../vendor/bootstrap/less/responsive.less';
@import '../../vendor/bootstrap/less/responsive-navbar.less';
@import '../../vendor/bootstrap/less/responsive-utilities.less';
@import '../../vendor/bootstrap/less/buttons.less';*/


@import 'mixins.less';
@import 'variables.less';
@import 'inline.less';


/**
 * Non Critical CSS
 * Apply App Wide Global Styles Here
 */

@import 'qpham-fonts.less';
@font-face {
  font-family: 'robotolight';
  src: url('fonts/Roboto-Light-webfont.eot');
  src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/Roboto-Light-webfont.woff') format('woff'),
       url('fonts/Roboto-Light-webfont.ttf') format('truetype'),
       url('fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Headings
// -------------------------
h1, h2, h3, h4, h5, h6 {
  margin: (@baseLineHeight / 2) 0;
  font-family: @baseFontFamily;
  font-weight: normal;
  line-height: @baseLineHeight;
  color: @textColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  small {
    font-weight: normal;
    line-height: 1;
    color: @grayLight;
  }
}

h1,
h2,
h3 { line-height: @baseLineHeight * 2; }

h1 { font-size: @baseFontSize * 2.75; } // ~38px
h2 { font-size: @baseFontSize * 2.25; } // ~32px
h3 { font-size: @baseFontSize * 1.75; } // ~24px
h4 { font-size: @baseFontSize * 1.25; } // ~18px
h5 { font-size: @baseFontSize; }
h6 { font-size: @baseFontSize * 0.85; } // ~12px

h1 small { font-size: @baseFontSize * 1.75; } // ~24px
h2 small { font-size: @baseFontSize * 1.25; } // ~18px
h3 small { font-size: @baseFontSize; }
h4 small { font-size: @baseFontSize; }


// Links
// -------------------------
a, a:hover, a:visited, a:active {
    color: @linkColor;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }


// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
  padding: 0;
  margin: 0 0 @baseLineHeight / 2 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: @baseLineHeight;
}

// Remove default list styles
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

// Single-line list items
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
  > li {
    display: inline-block;
    .ie7-inline-block();
    padding-left: 5px;
    padding-right: 5px;
  }
}

.btn {
  color: @gray;
  .border-radius(4px);
}

.touch {

    .btn {
        .box-shadow(none);
        background-image: none;
    }
}

button.nobg {
  background-color: transparent;
  border: none;
  background-image: none;
  text-shadow: none;
  .box-shadow(none);
  padding: 4px 4px;
  color: @blue;
  font-size: 16px;
  font-family: @baseFontFamily;

  [class^="icon-"], [class*=" icon-"] {
    vertical-align:middle;
  }
}

button.disabled, button[disabled] {
  .opacity(20);
}

footer {
  display: block;
}


/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../app/home/home.less';
@import '../app/about/about.less';
@import '../app/projects/projects.less';
@import '../app/resume/resume.less';