/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/mixins.less';
@import '../../vendor/bootstrap/less/reset.less';
@import '../../vendor/bootstrap/less/scaffolding.less';
@import '../../vendor/bootstrap/less/type.less';
@import '../../vendor/bootstrap/less/grid.less';
@import '../../vendor/bootstrap/less/layouts.less';
/*@import '../../vendor/bootstrap/less/navs.less';
@import '../../vendor/bootstrap/less/navbar.less';*/
@import '../../vendor/bootstrap/less/responsive.less';
/*@import '../../vendor/bootstrap/less/responsive-navbar.less';*/
@import '../../vendor/bootstrap/less/responsive-utilities.less';
@import '../../vendor/bootstrap/less/buttons.less';

/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';

.btn {
    color: @gray;
}
.touch {

    .btn {
        .box-shadow(none);
        background-image: none;
    }
}

button.nobg {
  background-color: transparent;
  border: none;
  background-image: none;
  text-shadow: none;
  .box-shadow(none);
  padding: 4px 4px;
  color: @blue;
  font-size: 16px;
  font-family: @sansFontFamily;

  [class^="icon-"], [class*=" icon-"] {
    vertical-align:middle;
  }
}

button.disabled, button[disabled] {
  .opacity(15);
}


/**
 * Layout
 */

.container {
max-width: 720px;
}
.show-grid {
margin-top: 10px;
margin-bottom: 20px;
}
.spinner {
width: 100%;
height: 230px;
margin-top: 50px;
background: url(img/spinner.gif) no-repeat center center;
background-size: 24px 24px;
position: relative;
z-index: 9999;
    /*Tablet Portrait*/
    @media (min-width: 600px)  { 
    min-height: 400px;
    }
    /*Max Image Size at 100% width*/
    @media (min-width: 720px)  { 
    min-height: 480px
    }
    /*Desktop*/
    @media (min-width: 962px) { 
    min-height: 400px;
    }
}

@media (max-width: 992px) {
body {
padding-right: 6px;
padding-left: 6px;
}
}


/**
 * Typography
 */

a:hover,
a:focus {
  text-decoration: none;
}

 h4 {
    margin-bottom: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
    color: @grayLight;
}
 @font-face {
    font-family: 'robotolight';
    src: url('fonts/Roboto-Light-webfont.eot');
    src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Light-webfont.woff') format('woff'),
         url('fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('fonts/Roboto-Medium-webfont.eot');
    src: url('fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


/**
 * Navigation
 */

.gradient {
background: #f3f3f3; /* Old browsers */
background: -moz-linear-gradient(top,  #f3f3f3 0%, #e0e0e0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f3f3f3 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f3f3f3 0%,#e0e0e0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f3f3f3 0%,#e0e0e0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f3f3f3 0%,#e0e0e0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}


/*Tweaks to Bootstrap 2.3.2 navbar fixed top*/

.navbar-fixed-top {
    display: block;
    position: fixed;
    top:-1px;
    right: 0;
    left: 0;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    border-bottom: 1px solid @grayLighter;
    z-index: 9999;
}

.navbar {

    .navbar-inner {
        padding: 0;
        border: none;
        .box-shadow(none);
        .gradient;
    }

    .navbar-inner:before,
    .navbar-inner:after {
      display: table;
      line-height: 0;
      content: "";
    }

    .navbar-inner:after {
      clear: both;
    }

    .container {
        height: 50px;
        max-width: 768px;
    }

    .header {
        height: 50px;
        position: relative; 
        z-index: 10;
        .gradient;
        float: none;
        border-bottom: 1px solid @grayLighter;
    }

    .nav {
        list-style: none;
        position: relative;
        left: 0;
        display: block;
        float: none;
        margin: 0 10px 0;

         > li {
            float: none;

            > a {
                margin-bottom:0;
                font-family: 'robotolight', sans-serif;
                text-shadow:none;
                font-weight: normal;
                padding: 15px 15px 15px;
                display: block;
                color: #777777;
            }

            > a:hover, > a:focus {
                background-color: #f2f2f2;
            }
        }
    }

    .brand {
        font-family: 'robotoregular', sans-serif;
        margin: 0;
        
        padding: 15px;
        float: right;
        font-size: @fontSizeLarge;
        color: #bcbcbc;
    }

    .nav-collapse {
        position: absolute;
        top:-100px;
        width: 100%;
        height: auto;
        background-color: #e0e0e0;
        z-index: 1;
        border-top: 1px solid #fff;
        border-bottom: none;
        .box-shadow(none);
        .transition(-webkit-transform 500ms cubic-bezier(0.165,0.630,0.140,0.820));
        .backface-visibility(hidden);
        &.expanded {
            top: 51px;
        }
    }

    .btn-navbar {
        display: block;
        margin: 13px 10px;
        background-color: transparent;
        border-color: transparent;
        background-image: none;
        float: left;
        .box-shadow(none);
        border: 1px solid transparent;
        .border-radius(4px);

        .icon-bar {
            display: block;
            width: 18px;
            height: 2px;
            background-color: #bcbcbc;
            .box-shadow(0 1px 0 rgba(255, 255, 255, 1));
            .border-radius(1px);

            +.icon-bar {
                margin-top: 3px;
            }
        }
    }

    .btn-navbar:hover,
    .btn-navbar:focus,
    .btn-navbar:active,
    .btn-navbar.active,
    .btn-navbar.disabled,
    .btn-navbar[disabled] {
        color: #ffffff;
        background-color: #ddd;
        *background-color: #d9d9d9;
    }
}

.csstransforms3d.csstransitions .nav-collapse {
    top: -100px !important;
    .translate3d(0, -100px, 0);
    &.expanded {
        top: 0px !important;
        .translate3d(0, 51px, 0);
    }
}

@media (min-width: 769px)  { 

.navbar {

    .header {
        float: left;
        border: none;
    }

    .btn-navbar {
         display: none;
    }

    .brand {
        padding: 15px 30px;
    }

    .nav {
        float: left;

         > li {
           float: left; 
        }
    }

    .nav-collapse {
        top: 0;
        position: static;
    }

}

.csstransforms3d.csstransitions .nav-collapse, .csstransforms3d.csstransitions .nav-collapse.expanded {
        height: auto !important;
        overflow: visible !important;
        clear: none;
        .translate3d(0, 0, 0);
    }

}


/**
 * Footer
 */


/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../app/home/home.less';
@import '../app/about/about.less';
@import '../app/projects/projects.less';
@import '../app/resume/resume.less';