// Grays
// -------------------------
@grayDark: #424242;
@gray: #636363;
@grayLight: #999;
@grayLighter: #cdcdcd;

// Accent colors
// -------------------------
@blue : #4285f4;
@lightBlue: #76a7fa;
@lighterBlue: #a0c3ff;

// Scaffolding
// -------------------------
@bodyBackground: #ededed;
@textColor:#424242;

// Links
// -------------------------
@linkColor: @blue;
@linkColorHover: @blue;


// Typography
// -------------------------
@baseFontFamily: 'robotolight', Arial, sans-serif;
@baseFontSize:14px;
@baseLineHeight:20px;

@headingsFontFamily: 'robotoregular', Arial, sans-serif;
@headingsFontWeight: normal;


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height
@fontSizeLarge:         @baseFontSize * 1.25; // ~18px