@baseFontFamily: 'robotolight', sans-serif;
@baseFontSize:14px;
@baseLineHeight:20px;
@textColor:#424242;
@bodyBackground: #ededed;

@fontSizeLarge:         @baseFontSize * 1.25; // ~18px

@headingsFontWeight: normal;
@grayDark: #424242;
@gray: #636363;
@grayLight: #999;
@grayLighter: #cdcdcd;

@blue : #4285f4;
@lightBlue: #76a7fa;
@lighterBlue: #a0c3ff;

@linkColor: @blue;
@linkColorHover: @blue;
