@font-face {
    font-family: 'OpenSansRegular';
    src: url('../Fonts/OpenSans-Regular-webfont.eot');
    src: url('../Fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../Fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../Fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../Fonts/OpenSans-Semibold-webfont.eot');
    src: url('../Fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../Fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../Fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Containers
----------------------------------------------------------------------------------------------------*/

.main {
	margin:30px auto;
	width: 1020px;
	box-shadow:0 11px 12px rgba(0,0,0,0.5);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 2px 12px rgba(0,0,0,0.5);
	-webkit-border-radius: 10px;
	-moz-border-radius-: 10px;
	border-radius: 10px;
}


/*	Typography presets
	------------------	*/
h1, h2, h3, h4, h5, li{margin-bottom:12px;}
h2, p{margin-bottom:36px;}
.gigantic {
	font-size: 110px;
	line-height: 120px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
}

.large, h2 {
	font-size: 36px;
	line-height: 48px;
}

.bigger, h3 {
	font-size: 26px;
	line-height: 36px;
}

.big, h4 {
	font-size: 22px;
	line-height: 30px;
}

.normal {
	font-size: 16px;
	line-height: 24px;
}

body {
	font: 16px/24px OpenSansRegular, Helvetica, Arial, sans-serif;
	color:#000;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
}

.smallest	{
	font-size: 11px;
	line-height: 16px;
}

/* Effects */
.shadow {
	box-shadow:0 11px 12px rgba(0,0,0,0.5);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 2px 12px rgba(0,0,0,0.5);	
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}


/* Lists
----------------------------------------------------------------------------------------------------*/

ol {
	list-style: decimal;
}

ul {
	list-style: disc;
	padding-bottom:12px;
}

li {
	margin-left: 30px;
}

/* Images
----------------------------------------------------------------------------------------------------*/
img {
  	}
	

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
}

/*
	The following zoom:1 rule is specifically for IE6 + IE7.
	Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
	zoom: 1;
}


/* Buttons
----------------------------------------------------------------------------------------------------*/
.btn {
	display:inline-block;
}


/*		Default Layout: 960px. 
		Gutters: 20px.
		Outer margins: 10px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10      11      12
px      60    140    220    300    380    460    540    620    700    780	  860	  940	*/

body {
	background:#a3ceec;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}
#masthead, #banner, #main-content	{
	position:relative;
	padding:24px 30px;
	background:#fff;	
}
#masthead	{
	padding:20px 30px;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius-: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;	
}
#banner	{
	position:relative;
	padding:0 30px;
	background:#0075c4;
	color:#303030;
	height:559px;
	background:url(../Images/family-kite.jpg) no-repeat bottom;	
	-webkit-box-shadow:inset 0 -4px 8px rgba(0,0,0,0.5);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	
}
#heading	{
	position:relative;
}
h1	{
	position: relative;
	width: 994px;
	font-size:40px;
	padding: 0 0 0 54px;
	margin: 0 0 60px -44px;
	height:120px;
	z-index:2;
	color: #fff;
	background: #0075c4 url(../Images/header-heading.png) no-repeat center;
	text-indent:-5000px;
	text-shadow: 0px 2px 2px #034081;
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
	box-shadow: 0 4px 8px rgba(0,0,0,0.5);	
}
h1:after	{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 7px 7px;
	border-style: solid;
	border-color: #014979 #014979 transparent transparent;
}
h1:before	{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	right: 0px;
	top: 100%;
	border-width: 7px 7px;
	border-style: solid;
	border-color: #014979 transparent transparent #014979;
}
.tri-bottom	{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 68px;
	top: 100%;
	z-index:2;
	border-width: 18px 18px;
	border-style: solid;
	border-color: #0075c4 transparent transparent transparent;
}
h2	{
	position: relative;
	width: 30%;
	padding: 10px 0 0 54px;
	margin: 0 0 48px -44px;
	height:62px;
	z-index:2;
	color: #fff;
	background: #0075c4;
	text-shadow: 0px 2px 2px #034081;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
	box-shadow: 0 2px 2px rgba(0,0,0,0.5);	
}
h2.flag:before {
	content: ' ';
	position: absolute;
	width: 0px;
	left: auto;
	right: -1px;
	top: 0px;
	border-width: 36px 18px;
	border-style: solid;
	border-color: transparent white transparent transparent;
}
h2.flag:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 7px 7px;
	border-style: solid;
	border-color: #014979 #014979 transparent transparent;
}
h2.full-ribbon	{
	position: relative;
	width: 994px;
	font-size:40px;
	padding: 10px 0 0 54px;
	margin: 0 0 24px -44px;
	height:62px;
	z-index:2;
	color: #fff;
	background: #0075c4;
	text-shadow: 0px 2px 2px #034081;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
	box-shadow: 0 2px 2px rgba(0,0,0,0.5);	
}
h2.full-ribbon:after	{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0;
	top: -14px;
	border-width: 7px 7px;
	border-style: solid;
	border-color: transparent #014979 #014979 transparent;
}
h2.full-ribbon:before	{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	right: 0px;
	top: -14px;
	border-width: 7px 7px;
	border-style: solid;
	border-color: transparent transparent #014979 #014979;
}
#banner-content ul	{
	background:url(../Images/header-content-list.png) no-repeat;
	list-style:none;
	margin:0 0 24px 60px;	
}
#banner-content li	{
	margin-left:40px;
	margin-bottom:36px;
	text-indent:-5000px;
}
#get-quote	{
	padding-left:100px;
}
#get-quote .getQuoteDiv
 {
	position:relative;	
}
#get-quote .btn	
{    
	padding:15px 20px;
	width:204px;
	font-family:OpenSansSemibold, Helvetica, Arial, sans-serif;
	font-size:21px;
}
#get-quote .icon-arrow	
{    
	display:inline-block;
	margin-right:10px;
}
#get-quote .quoteArrow
{
  	position:absolute;
	top:40px; 
	left:130px;	
}
#main-content	{
	padding-top:60px;
	padding-bottom:60px;
	background:#fff;
	color:#000;
}
#main-content h4 	{
	font-family:OpenSansSemibold, Helvetica, Arial, sans-serif;
	color:#0075c4;
}
#how-to-apply	{
	padding:0 20px 20px;
	border:1px solid #b2b2b2;
	background:#e5e5e5;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	color:#303030; 
}
#apply-heading	{
	position:relative;
}
#how-to-apply h3	{
	position: relative;
	width: 107%;
	padding: 8px 10px;
	margin: -1px 0 36px -20px;
	height:34px;
	z-index:2;
	color: #fff;
	text-align:center;
	font-family:OpenSansRegular, Helvetica, Arial, sans-serif;
	background: #0075c4;
	text-shadow: 0px 1px 2px #034081;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
	box-shadow: 0 2px 2px rgba(0,0,0,0.5);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
#how-to-apply .tri-bottom	{
	left: 45%;
	top: 100%;
	border-width: 14px 14px;
}
#cta	{
	position:relative;
	padding-right:20px;
}
#cta h4	{
	display:inline-block;
	position:relative;
	font: 16px/24px OpenSansSemibold, Helvetica, Arial, sans-serif;
	color:#0075c4;
	padding:0 0 5px 35px;
	margin-bottom:0;
}
#cta p {
	margin-bottom:12px;
	padding-left:35px;
}
#cta a	{
	display:block;
	margin:0 0 36px 35px;	
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	font-weight:normal;
	text-transform:uppercase;
	text-shadow: 0 1px 0px rgba(0, 0, 0, 0.25);
}
/*#cta a:after	{
	content: ' ';
	position: absolute;
	width: 12px;
	height: 14px;
	right: -20px;
	top: 20px;
	background: url(../Images/icons-cta.png) 0 -150px no-repeat;
}*/
#cta span	{
	display:block;	
}
#cta #phone-number	{
	padding-left:35px;	
}
#cta .heading	{
	color:#0075c4;
	padding: 14px 0 10px 35px;
}
#cta .pic-agent {
    background: url(../Images/icons-cta.png) 0 4px no-repeat; 
}
#cta .pic-apply {
    background: url(../Images/icons-cta.png) 0 -46px no-repeat;
}
#cta .pic-call {
    background: url(../Images/icons-cta.png) 0 -96px no-repeat;
}
/*FOOTER*/
#footer	{
	padding:24px 30px;
	color:#fff;
	background:#4399d3;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius-: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}
#footer a	{
	text-decoration:none;
	color:#fff;
}
#disclaimer-copy	{
	margin-bottom:24px;
}
#footer-links	{
	margin-bottom:12px;
}
.menu {
	padding:0;
	margin:0;
}
.menu li {
	display:inline; 
	padding-right:1em;
	margin-right:1em;
	margin-left:0;
	border-right:1px solid #fff;
	list-style-type:none;
}
.menu a, .menu a:visited { 
	text-decoration:none;
}
.menu a:hover, #footer a:hover {
	text-decoration:underline;
}
.menu .no-border	{
	border:0 ;	
}
#trust-logo	{
	width:420px;
	text-align:right;
	margin-top:-55px;
}

