/**
 * Typography
 */

a, a:hover, a:focus {
  text-decoration: none;
}

 h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 17.5px;
    font-weight: normal;
    color: #4285f4;
    margin: 10px 0;
    margin-bottom: 4px;
    line-height: 20px;
    text-rendering: optimizelegibility;
}
h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
    font-weight: normal;
    color: #999;
    margin: 10px 0;
    margin-top: 0;
    line-height: 20px;
    text-rendering: optimizelegibility;
}
 @font-face {
    font-family: 'robotolight';
    src: url('assets/fonts/Roboto-Light-webfont.eot');
    src: url('assets/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Roboto-Light-webfont.woff') format('woff'),
         url('assets/fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('assets/fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('assets/fonts/Roboto-Regular-webfont.eot');
    src: url('assets/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('assets/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('assets/fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('assets/fonts/Roboto-Medium-webfont.eot');
    src: url('assets/fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('assets/fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('assets/fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  margin: 0;
  font-family: 'robotolight', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #424242;
  background-color: #ededed;
}
footer {
  display: none;
}

/*Layouts*/

.mainView {
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 6px;
  padding-left: 6px;
  width: auto;
  min-height: 300px;
}

.container {
margin-right: auto;
margin-left: auto;
max-width: 720px;
}
.container:before, .container:after {
display: table;
line-height: 0;
content: "";
}
@media (max-width: 767px) {
.container {
width: auto;
}
}

/*Tweaks to Bootstrap 2.3.2 navbar fixed top*/

.navbar-fixed-top {
  display: block;
  position: fixed;
  top:-1px;
  right: 0;
  left: 0;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
  border-bottom: 1px solid @grayLighter;
  z-index: 9999;
}

.navbar .navbar-inner {
  padding: 0;
  background: #f3f3f3;
  background: -moz-linear-gradient(top, #f3f3f3 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #f3f3f3 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #f3f3f3 0%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #f3f3f3 0%, #e0e0e0 100%);
  background: linear-gradient(to bottom, #f3f3f3 0%, #e0e0e0 100%);
  border: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#e0e0e0', GradientType=0);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.navbar .navbar-inner:before,
.navbar .navbar-inner:after {
  display: table;
  line-height: 0;
  content: "";
}

.navbar .navbar-inner:after {
  clear: both;
}

.navbar .container {
  height: 50px;
  max-width: 768px;
}

.navbar .header {
  position: relative;
  z-index: 10;
  float: none;
  height: 50px;
  background: #f3f3f3;
  background: -moz-linear-gradient(top, #f3f3f3 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #f3f3f3 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #f3f3f3 0%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #f3f3f3 0%, #e0e0e0 100%);
  background: linear-gradient(to bottom, #f3f3f3 0%, #e0e0e0 100%);
  border-bottom: 1px solid #cdcdcd;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#e0e0e0', GradientType=0);
}

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: none;
  margin: 0 10px 0;
  list-style: none;
}

.navbar .nav > li {
  float: none;
}

.navbar .nav > li > a {
  display: block;
  padding: 15px 15px 15px;
  margin-bottom: 0;
  font-family: 'robotolight', sans-serif;
  font-weight: normal;
  color: #777777;
  text-shadow: none;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background-color: #f2f2f2;
}

.navbar .brand {
  float: right;
  padding: 15px;
  margin: 0;
  font-family: 'robotoregular', sans-serif;
  font-size: 17.5px;
  color: #bcbcbc;
}

.navbar .nav-collapse {
  position: absolute;
  top: -100px;
  z-index: 1;
  width: 100%;
  height: auto;
  background-color: #e0e0e0;
  border-top: 1px solid #fff;
  border-bottom: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.165, 0.63, 0.14, 0.82);
     -moz-transition: -webkit-transform 500ms cubic-bezier(0.165, 0.63, 0.14, 0.82);
       -o-transition: -webkit-transform 500ms cubic-bezier(0.165, 0.63, 0.14, 0.82);
          transition: -webkit-transform 500ms cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}

.navbar .nav-collapse.expanded {
  top: 51px;
}

.navbar .btn-navbar {
  display: block;
  float: left;
  margin: 13px 10px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-color: transparent;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #bcbcbc;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 #ffffff;
     -moz-box-shadow: 0 1px 0 #ffffff;
          box-shadow: 0 1px 0 #ffffff;
}

.navbar .btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}

.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #ddd;
  *background-color: #d9d9d9;
}

.csstransforms3d.csstransitions .nav-collapse {
  top: -100px !important;
  -webkit-transform: translate3d(0, -100px, 0);
     -moz-transform: translate3d(0, -100px, 0);
       -o-transform: translate3d(0, -100px, 0);
          transform: translate3d(0, -100px, 0);
}

.csstransforms3d.csstransitions .nav-collapse.expanded {
  top: 0px !important;
  -webkit-transform: translate3d(0, 51px, 0);
     -moz-transform: translate3d(0, 51px, 0);
       -o-transform: translate3d(0, 51px, 0);
          transform: translate3d(0, 51px, 0);
}

@media (min-width: 769px) {
  .navbar .header {
    float: left;
    border: none;
  }
  .navbar .btn-navbar {
    display: none;
  }
  .navbar .brand {
    padding: 15px 30px;
  }
  .navbar .nav {
    float: left;
  }
  .navbar .nav > li {
    float: left;
  }
  .navbar .nav-collapse {
    position: static;
    top: 0;
  }
  .csstransforms3d.csstransitions .nav-collapse,
  .csstransforms3d.csstransitions .nav-collapse.expanded {
    height: auto !important;
    overflow: visible !important;
    clear: none;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

/**
 * Author:      Matt Hinchliffe <www.maketea.co.uk>
 * Description: Responsive image placeholders
 */

.no-js .defer-image {
  display: none;
}

.defer-image > img {
  display: none;
  max-width: 100%;
  min-width: 100%;
}

.defer-image.is-loading {
  position: relative;
  background: #fff;
}

/* Image aspect ratios - % is relative to width of containing block */

.image-ratio\:1x2 > div {
  padding-top: 200%;
}

.image-ratio\:9x16 > div {
  padding-top: 177.777%;
}

.image-ratio\:10x16 > div {
  padding-top: 160%;
}

.image-ratio\:2x3 > div {
  padding-top: 150%;
}

.image-ratio\:3x4 > div {
  padding-top: 133.333%;
}

.image-ratio\:1x1 > div {
  padding-top: 100%;
}

.image-ratio\:4x3 > div {
  padding-top: 75%;
}

.image-ratio\:3x2 > div {
  padding-top: 66.66%;
}

.image-ratio\:16x10 > div {
  padding-top: 62.5%;
}

.image-ratio\:16x9 > div {
  padding-top: 56.25%;
}

.image-ratio\:2x1 > div {
  padding-top: 50%;
}

/* Preload and loaded animations */

@-webkit-keyframes bobble {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
  }
  35% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
  }
}

@keyframes bobble {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  35% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.defer-image.is-loading::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin: -0.5em 0 0 -0.5em;
  background: rgba(125, 125, 125, 0.5);
  border-radius: 100%;
  content: ' ';
  -webkit-animation: bobble 1s cubic-bezier(0.6, 1, 1, 1) infinite;
          animation: bobble 1s cubic-bezier(0.6, 1, 1, 1) infinite;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.defer-image.is-loaded > img {
  display: block;
  -webkit-animation: fadeIn 250ms both;
          animation: fadeIn 250ms both;
}

.show-grid {
margin-top: 10px;
margin-bottom: 20px;
}

.touch ul.imgList li {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

ul.imgList {
  padding: 0;
  display: block;
  margin: 0 auto;
  list-style: none;
}

ul.imgList li {
  display: inline-block;
  width: 100%;
  height: auto;
  min-height: 230px;
  margin: 0 auto 12px;
  cursor: pointer;
  background: #fff;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px #999999;
     -moz-box-shadow: 0 1px 1px #999999;
          box-shadow: 0 1px 1px #999999;
}

ul.imgList li:last-child {
  margin-bottom: 0;
}

ul.imgList li a {
  height: auto;
}

ul.imgList .copy {
  margin: 0 12px;
}

/*Phone Portrait*/

@media (max-width: 320px) {
  ul.imgList li {
    width: 306px;
  }
  ul.imgList .copy {
    margin-right: 60px;
  }
}

/*Phone Landscape*/

@media (min-width: 480px) {
  ul.imgList li {
    width: 48%;
    margin: 0 4px 8px;
  }
}

/*Tablet Portrait Nexus 7*/

@media (min-width: 600px) {
  ul.imgList li {
    min-height: 280px;
    margin: 0 5px 10px;
  }
}

/*Tablet Portrait iPad*/

@media (min-width: 767px) {
  ul.imgList li {
    min-height: 280px;
    margin: 0 14px 14px 0;
  }
}