.resume {
    .profile;

    h4 {
        margin-top: 16px;
        font-family: @headingsFontFamily;
    }

    h5 {
        font-size: 16px;

        span {
            vertical-align: middle;
        }
    }

    small {
        display: block;
        line-height: 1.4;
        color: @grayLight;
    }

    .copy {
        
    }

    ul {

        li {
            margin-bottom: 6px;
        }
    }

    .row-fluid {
        margin-bottom: 10px;
    }

    #skills {

        ul {
            list-style: none;
            margin-left: 0;

            li {
                padding: 6px 10px;
                .border-radius(4px);
                background-color: #7b858d;
                display: inline-block;
                margin: 6px;
                font-style: italic;
                color: #fff;
                white-space: nowrap;
            }
        }
    }

    #experience, #education {
       
       h5 {
        text-align: left;
        } 
    }
    
}