.resume {
    .profile;

    h4 {
        margin-top: 16px;
        font-family: @headingsFontFamily;
    }

    h5 {
        margin-bottom: 4px;
    }

    small {
        display: block;
        line-height: 1.4;
        color: @grayLight;
    }

    .address {
        .fa {
            vertical-align: middle;
            margin-right: 4px;
        }
    }

    ul.actions {

        margin: 0 auto;
        width: 152px;

        li {
            font-size: 12px;
            text-align: center;
            color: @blue;
            padding: 0;
            width: 48px;
            height: 48px;
            margin: 0;
        }

        .fa  {
            display: block;
        }
        
    }

    ul {

        li {
            margin-bottom: 6px;
        }
    }

    .row-fluid {
        margin-bottom: 10px;
    }

    #skills {

        ul {
            list-style: none;
            margin-left: 0;

            li {
                padding: 6px 10px;
                .border-radius(4px);
                background-color: @lightBlue;
                display: inline-block;
                margin: 6px;
                font-style: italic;
                color: #fff;
            }
        }
    }

    #experience, #education {
       
       h5 {
        text-align: left;
        } 
    }
    
}