<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl" manifest="assets/qpham.appcache">
  <head>
    <title ng-bind="pageTitle"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@thienedits">
    <meta name="twitter:title" content="qpham.com | Ux Web Design Portfolio">
    <meta name="twitter:description" content="The portfolio site of ux web designer Thien Pham. Thien specializes
    in front-end development using HTML, CSS, and Javascript.">
    <meta name="twitter:creator" content="@thienedits">
    <meta name="twitter:image:src" content="https://lh3.googleusercontent.com/-cB4p6odIAaY/TpTURO87vrI/AAAAAAAAGhM/-jXFAG3VZ_k/s265-no/11">
    <meta property="og:title" content="qpham" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/qpham" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="The portfolio site of ux web designer Thien Pham. Thien specializes
    in front-end development using HTML, CSS, and Javascript.">
    <style type="text/css">
    .spinner {width: 100%;height: 230px;background: url(img/spinner.gif) no-repeat center center;background-size: 24px 24px;}
    </style>

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container" >
          <div class="header">
          <button type="button" class="btn btn-navbar" ng-click="expanded = !expanded" title="Menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#/home" title="qpham.com">thien<span>pham</span></a>
          </div>
          <div class="nav-collapse collapse" ng-class="{expanded: expanded}">
            <ul class="nav">
              <li class="">
                <a href="#/home">Home</a>
              </li>
              <li class="">
                <a href="#/about">About Me</a>
              </li>
              <li class="">
                <a href="#/resume">Resume</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="spinner" ng-show="loading()"></div>
    <div class="mainView" ui-view="main"></div>

    <footer class="footer">
        <div class="container">
          <div class="footer-inner">
            <p>
            This site was designed using <a href="http://github.com/joshdmiller/ng-boilerplate">ng-boilerplate</a>, an AngularJS templating engine based on
            <a href="http://www.angularjs.org">AngularJS</a>,
            <a href="http://getbootstrap.com">Bootstrap</a>, 
            <a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>,
            and 
            <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>.         
          </p>
          <p>(c) 2013 Thien Pham.</p>
          </div>
        </div>
    </footer>
  </body>
</html>
