a {
color: #074f8c;
}
.sub-nav {
background:#074f8c;
}
.main-header {
background:#090909 url(../images/retirement-header.jpg) center -120px no-repeat;
}
.tabs dd.active a, .tabs li.active a {
border-top: 5px solid #074f8c;
}
.blue-highlight {
background: #074f8c;
background: rgba(7,79,140,0.75);
}
.panel.callout {
background: #074f8c;
}
.panel.callout:after {
border-color: #fff #6ec4ea;
}
.panel.callout h4 {
color: #fff;
}
.nav-bar {
background:#074f8c;
}
.nav-bar > li:hover {
background: #1561a2;
}
.sub-nav li.current {
background: #1561a2;
}
.flyout {
background: #074f8c;
width: 220px;
}
ul.flyout li a, .nav-bar li ul li a {
background: #074f8c;
}
ul.flyout li a:hover, ul.flyout li a:focus, .nav-bar li ul li a:hover, .nav-bar li ul li a:focus {
background: #1561a2;
}

@media only screen and (max-width: 900px) and (min-width: 768px) {



}


/* small screen retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 1.5)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 1.5)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) { 




}

/* Small display targeting */
@media only screen and (max-width: 767px) {



}